Flask==0.10.1
Flask-Injector==0.6.2
injector==0.9.1
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.8
keepalive==0.5
MarkupSafe==0.23
pyparsing==2.1.0
rdflib==4.2.1
requests==2.9.1
SPARQLWrapper==1.7.6
Werkzeug==0.11.3
wheel==0.29.0
